<%= form_with scope: :session, url: session_path, local: true do |form| %>
  <div class="text_field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>
  <div class="text_field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <div class="submit_field">
    <%= form.submit "Sign in" %>
  </div>
<% end %>
